extends layout

block content
  h1= title




  form(action='/' method='post')
    textarea(id="text",name="tweet", cols="40", rows="5")
    br
    input(type="submit", value="Send")
  
  ul
    - each tweet in tweets
      li= tweet.tweet
        = " | envoyé le "
        = tweet.jour
        = "/"
        = tweet.mois
        = "/"
        = tweet.an
        = " à "
        = tweet.heure
        = ":"
        = tweet.minute

